<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="text-container">
      <h1>Welcome to the Presidential Database</h1>
      <p>Below you'll find a list of all of the US Presidents</p><br>
      <h2>To search by President</h2>
      <p>add '/search/' + the full name of any president</p><br>
      <p>you can copy and paste a name from the list and plug it into the URL after adding '/search/' to the end of the URL</p>

      {% for pres in list_of_class_pres %}
        <h3> {{ "/search/"+pres.fn + "/" + pres.ln }} </h3>
      {% endfor %}
    </div>
  </body>
</html>
