<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="text-container">
      <a href="education">Education Table</a>
      <a href="religion">Religion Table</a>

      <h1>Welcome to the Presidential Database</h1>
      <p>Below you'll find a list of all of the US Presidents</p><br>
      <h2>To search by President</h2>
      <p>Copy and paste from the list, plug it in after the URL, and press enter!</p>

      {% for pres in list_of_class_pres %}
        <h2>{{ pres.fn + " " + pres.ln + "\n" }}</h2>
        <h3> {{ "/search/"+pres.fn + "/" + pres.ln }} </h3>
      {% endfor %}

    </div>
  </body>
</html>
